body {
  font-family: 'Oxygen', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}

input {
  font-size: 1.2rem;
  color: #555;
  padding: 4px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  box-shadow: inset 0 0 2px 1px rgba(150,200,255,0.50);
  border: 1px solid rgb(150,200,255);
}

input.invalid {
  border: 1px solid rgb(255,150,150);
}

input.invalid:focus {
  box-shadow: inset 0 0 2px 1px rgba(255,150,150,0.50);
}

input.valid {
  border: 1px solid rgb(100,200,150);
}

input.valid:focus {
  box-shadow: inset 0 0 2px 1px rgba(100,200,150,0.50);
}

button {
  padding: 8px;
  font-size: 1.2rem;
  background-color: #fff;
  border: 1px solid #ccc;
}

button:focus {
  outline: none;
}
.payment_form {
  display: inline-block;
  margin: 0 auto;
}

.form_row {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.label {
  font-size: 0.8rem;
  margin: 0 4px;
}

.form_input {
  margin: 2px;
  display: block;
}

.error {
  font-size: 0.8rem;
  margin: 0 4px;
  color: rgb(200,100,100);
}

.form_submit {
  margin: 6px auto;
  float: right;
  display: block;
}

.card_number {
  position: relative;
}

.card_input {
  width: 252px;
  outline: none;
  font-size: 1.2rem;
  color: #555;
  padding: 4px;
}

.card_input::-webkit-input-placeholder {
  letter-spacing: 0.12rem;
}

.card_icon {
  position: absolute;
  top: 12px;
  right: 8px;
  font-size: 1.4rem;
  color: rgb(150,200,255);
  pointer-events: none;
}

.card_icon.invalid {
  color: rgb(255,150,150);
}

.card_icon.valid {
  color: rgb(100,200,150);
}

.card_cvn {
  width: 50px;
}

.expiry {
  width: 80px;
}

.card_cvn::-webkit-input-placeholder {
  letter-spacing: 0.1rem;
}
